<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>AdminHome</title>
</head>
<body>
<h1>SALUT ADMINULE!</h1>

<!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th> First Name </th>-->
        <!--<th> Last Name </th>-->
    <!--</tr>-->
    <!--</thead>-->

    <!--<tbody>-->
    <!--&lt;!&ndash;<tr th:if="${users.empty}">&ndash;&gt;-->
        <!--&lt;!&ndash;<td colspan="2"> No users Available </td>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--<tr th:each="user :${users}">-->
        <!--<td>Nick Name</td>-->
        <!--<td><span th:text="${user.nickName}">  </span></td>-->
        <!--<td>First Name</td>-->
        <!--<td><span th:text="${user.firstName}">  </span></td>-->
        <!--<td>Last Name</td>-->
        <!--<td><span th:text="${user.lastName}">  </span></td>-->
        <!--<td>Location</td>-->
        <!--<td><span th:text="${user.location}">  </span></td>-->
        <!--<td>Email Address</td>-->
        <!--<td><span th:text="${user.email}">  </span></td>-->
        <!--<td><button>Change Role</button></td>-->
    <!--</tr>-->

    <!--</tbody>-->

<!--</table>-->


<table>
    <thead>
    <tr>
        <th>Photo</th>
        <th>Nickname</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Location</th>
        <th>User Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.isEmpty()}">
        <td colspan="2">No Users Registered</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span><img style="max-width: 200px; max-height: 100px" th:src="'data:image/*;base64,' + ${user.getImageAsString()}"></span></td>
        <td><span th:text="${user.nickname}"> Nickname </span></td>
        <td><span th:text="${user.firstName}"> First Name </span></td>
        <td><span th:text="${user.lastName}"> Last Name </span></td>
        <td><span th:text="${user.location}"> Location </span></td>
        <td><span><a th:href="@{/admin/home/user/{id}(id=${user.id})}">Profile</a> </span></td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/}">Back to index.</a></p>

</body>
</html>