<!doctypeHTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Books of the Community</title><!-- Page title -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{../css/style.css}">
    <meta name="viewport" content-type="width=device-width initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="card img-fluid" style="width:1600px">
    <img class="card-img-top" src="static/images/headerv4.jpg" style="max-width:100%" th:src="@{../images/headerv4.jpg}">
    <div class="card-img-overlay">
        <div class="Header">
            <h1>Bookworms Community</h1><!-- Heather title -->
            <h6><p>The place were bookworms meet and wormnomnom!</p></h6>
        </div>
    </div>
</div>

<div id="header">
    <ul id="navigation"><!--Navigation bar -->
        <script>
				$(document).ready(function(){
  				$('[data-toggle="tooltip"]').tooltip();
				});
				</script>
        <li><a class="#" href="topRated.html" data-toggle="tooltip" data-placement="bottom" title="Top Rated Books for Bookworms">Top Rated Books</a></li>
        <li><a class="#" href="latestBooks.html" data-toggle="tooltip" data-placement="bottom" title="Latest Books added to our collection">Latest Books</a></li>
        <li><a class="#" href="buyABook.html" data-toggle="tooltip" data-placement="bottom" title="Buy a book from a bookworm">Buy a book</a></li>
        <li><a class="#" href="rentABook.html" data-toggle="tooltip" data-placement="bottom" title="Rent a book from a bookworm">Rent a book</a></li>
        <li><a class="#" th:href="@{/communityBooks}" data-toggle="tooltip" data-placement="bottom" title="A list of all the books">Community Books</a></li>
        <li style="float:right">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <form class="form-inline" action="search.html">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </nav>
        </li>
        <!--User bar -->
        <li sec:authorize="isAnonymous()" style="float:right"><a class="Log In" th:href="@{/login}" data-toggle="tooltip" data-placement="bottom" title="Log In"><i class="fa fa-sign-in"></i></a></li>
        <li sec:authorize="isAuthenticated()" style="float:right"><a class="Log Out" th:href="@{/logout}" data-toggle="tooltip" data-placement="bottom" title="Log Out"><i class="fa fa-sign-out"></i></a></li>
        <li style="float:right"><a class="User profile" th:href="@{/user}" data-toggle="tooltip" data-placement="bottom" title="My profile" ><i class="fa fa-user"></i></a></li>
        <li sec:authorize="isAuthenticated()" style="float:right"><a class="Messages" th:href="@{/messages}" data-toggle="tooltip" data-placement="bottom" title="My messages" ><i class="fa fa-envelope"></i></a></li>
    </ul>
</div>
<!--End of navigation bar -->
<div class="container">
    <div class="row">
            <h3>Community books</h3>
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th>Details</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Number of Pages</th>
                    <th>Type</th>
                    <th>Language</th>
                    <th>Condition</th>
                    <th>For Rent</th>
                    <th>Rent Price (RON/day)</th>
                    <th>For Sale</th>
                    <th>Sale Price (RON)</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="book : ${books}" th:object="${book}">
                <tr class="table-info">
                    <td><a th:href="@{bookDetails/{id}(id=${book.id})}" button class="btn btn-success">Details</a></td>
                    <td th:text="*{bookName}"></td>
                    <td th:text="*{authorName}"></td>
                    <td th:text="*{numberOfPages}">></td>
                    <td th:text="*{type}"></td>
                    <td th:text="*{language}"></td>
                    <td th:text="*{condition}"></td>
                    <td th:text="*{bookRent} ? 'YES' : 'NO'"></td>
                    <td th:if="*{bookRent}" th:text="*{rentPrice}"></td>
                    <td th:text="*{bookSale} ? 'YES' : 'NO'"></td>
                    <td th:if="*{bookSale}" th:text="*{sellPrice}"></td>
                    <td></td>
                </tr>
                </th:block>
                </tbody>
                </th:block>
            </table>
    </div>
</div>
<!--Footerr -->
<div id="footer">
    <div class="card img-fluid" style="width:1600px">
        <img class="card-img-top" src="static/images/Footerv2.jpg" th:src="@{../images/Footerv2.jpg}" style="width:100%">
        <div class="card-img-overlay">
            <div class="text-right" style="margin-bottom:0">
                <h6>Bookworms Community</h6>
                <p>&copy; Copyright AIRS 2019 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>