<!doctypeHTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookworms Comunity</title><!-- Page title -->
    <link href="static/css/style.css" media="all" rel="stylesheet" th:href="@{~/css/style.css}" type="text/css">
    <link href="static/css/rating.css" media="all" rel="stylesheet" th:href="@{~/css/rating.css}" type="text/css">
    <meta content-type="width=device-width initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="card img-fluid" style="width:1600px">
    <img class="card-img-top" src="static/images/header.jpg" style="max-width:100%" th:src="@{~/images/header.jpg}">
    <div class="card-img-overlay">
        <div class="Header">
            <h1>Bookworms Community</h1><!-- Heather title -->
            <h6><p>The place were bookworms meet and wormnomnom!</p></h6>
        </div>
    </div>
</div>
<div id="header">
    <ul id="navigation"><!--Navigation bar -->
        <script>
				$(document).ready(function(){
  				$('[data-toggle="tooltip"]').tooltip();   
				});


        </script>
        <li><a class="#" data-placement="bottom" data-toggle="tooltip" th:href="@{/communityBooks/byRating}"
               title="Top Rated Books for Bookworms">Top Rated Books</a></li>
        <li><a class="#" data-placement="bottom" data-toggle="tooltip" th:href="@{/communityBooks/byDate}"
               title="Latest Books added to our collection">Latest Books</a></li>
        <li><a class="#" data-placement="bottom" data-toggle="tooltip" th:href="@{/communityBooks/forSale}"
               title="Buy a book from a bookworm">Buy a book</a></li>
        <li><a class="#" data-placement="bottom" data-toggle="tooltip" th:href="@{/communityBooks/forRent}"
               title="Rent a book from a bookworm">Rent a book</a></li>
        <li><a class="#" data-placement="bottom" data-toggle="tooltip" th:href="@{/communityBooks}"
               title="A list of all the books">Community Books</a></li>
        <li style="float:right">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <form class="form-inline" method="get" th:action="@{/searchBooks}" th:object="${searchWord}">
                    <input class="form-control mr-sm-2" placeholder="Search" th:field="*{searchPattern}" type="text">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </nav>
        </li>
        <!--User bar -->
        <li style="float:right"><a class="Home" data-placement="bottom" data-toggle="tooltip" th:href="@{/}"
                                   title="Home"><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li sec:authorize="isAnonymous()" style="float:right"><a class="Log In" data-placement="bottom"
                                                                 data-toggle="tooltip" th:href="@{/login}"
                                                                 title="Log In"><i class="fa fa-sign-in"></i></a></li>
        <li sec:authorize="isAuthenticated()" style="float:right"><a class="Log Out" data-placement="bottom"
                                                                     data-toggle="tooltip" th:href="@{/logout}"
                                                                     title="Log Out"><i class="fa fa-sign-out"></i></a>
        </li>
        <li sec:authorize="isAuthenticated()" style="float:right"><a class="User profile"
                                                                     data-placement="bottom"
                                                                     data-toggle="tooltip"
                                                                     th:href="@{/user/{id}(id=${user.id})}"
                                                                     title="My profile"><i class="fa fa-user"></i></a>
        </li>
        <li sec:authorize="isAuthenticated()" style="float:right"><a class="Messages" data-placement="bottom"
                                                                     data-toggle="tooltip" th:href="@{/messages}"
                                                                     title="My messages"><i class="fa fa-envelope"></i></a>
        </li>
    </ul>
</div>
<!--End of navigation bar -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Top 10 Rated Books</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody th:each="book : ${topBooks}">
                <tr class="table-warning table-striped">
                    <td>
                        <div class="book">
                            <img alt="Book image" class="book-image" style="max-width:50px; max-height:50px"
                                 th:src="'data:image/*;base64,' + ${book.getImageAsString()}"></div>
                    </td>
                    <td><a style="color: #000;" th:href="@{/bookDetails/{id}(id=${book.id})}"><b
                            th:text="${book.bookName}"></b></a></td>
                    <td th:text="${book.authorName}"></td>
                    <td>
                        <th:block th:switch="${book.rating}">
                            <div th:case="5"><span class="stars-container stars-100">★★★★★</span></div>
                            <div th:case="4"><span class="stars-container stars-80">★★★★★</span></div>
                            <div th:case="3"><span class="stars-container stars-60">★★★★★</span></div>
                            <div th:case="2"><span class="stars-container stars-40">★★★★★</span></div>
                            <div th:case="1"><span class="stars-container stars-20">★★★★★</span></div>
                            <div th:case="0"><span class="stars-container stars-0">★★★★★</span></div>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>Latest 10 Books Added</h3>
            <table class="table">
                <tr>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Book</th>
                        <th>Author</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody th:each="book : ${latestBooks}">
                    <tr class="table-secondary table-striped">
                        <td>
                            <div class="book">
                                <img alt="Book image" class="book-image" style="max-width:50px; max-height:50px"
                                     th:src="'data:image/*;base64,' + ${book.getImageAsString()}"></div>
                        </td>
                        <td><a style="color: #000;" th:href="@{/bookDetails/{id}(id=${book.id})}"><b
                                th:text="${book.bookName}"></b></a></td>
                        <td th:text="${book.authorName}"></td>
                        <td th:text="${book.addDate}"></td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
<!--Footer -->
<footer class="footer">
    <div class="card img-fluid" style="width:1600px">
        <img class="card-img-top" src="static/images/footer.jpg" style="width:100%"
             th:src="@{~/images/footer.jpg}">
        <div class="card-img-overlay">
            <div class="text-right" style="margin-bottom:0">
                <h6>Bookworms Community</h6>
                <p>&copy; Copyright AIRS 2019 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>