<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .contentR {
            max-width: 500px;
            margin: auto;
            color: red;
        }

        .contentB {
            max-width: 500px;
            margin: auto;
            color: blue;
        }
    </style>
    <title>Registration</title>
</head>
<body>
<h1 style="max-width: 200px; margin: auto">Registration</h1>
<p style="color: green; max-width: 500px; margin: auto" th:if="${param.success}">Registration Successful.</p>
<form enctype="multipart/form-data" method="post" th:action="@{/registration}" th:object="${user}">
    <table style="max-width: 500px; margin: auto">
        <tr>
            <td class="contentR" th:each="error : ${#fields.errors('global')}" th:if="${#fields.hasGlobalErrors()}"
                th:text="${error}">Validation Error
            </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input th:field="*{firstName}" type="text"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">First Name Error
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input th:field="*{lastName}" type="text"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Last Name Error</td>
        </tr>
        <tr>
            <td>Nick Name:</td>
            <td><input th:field="*{nickName}" type="text"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{nickName}" th:if="${#fields.hasErrors('nickName')}">Nick Name Error</td>
        </tr>
        <tr>
            <td>Location(City):</td>
            <td><input th:field="*{location}" type="text"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{location}" th:if="${#fields.hasErrors('location')}">Location Error</td>
        </tr>
        <tr>
            <td>E-mail :</td>
            <td><input th:field="*{email}" type="text"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">E-mail Error</td>
        </tr>
        <tr>
            <td>Confirm e-mail :</td>
            <td><input th:field="*{confirmEmail}" type="text"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{confirmEmail}" th:if="${#fields.hasErrors('confirmEmail')}">Confirm E-mail
                Error
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input th:field="*{password}" type="password"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input th:field="*{confirmPassword}" type="password"/></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}">Confirm
                Password Error
            </td>
        </tr>
        <tr>
            <td><input th:field="*{image}" type="file"></td>
        </tr>
        <tr>
            <td class="contentR" th:errors="*{image}" th:if="${#fields.hasErrors('image')}">Image Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Register</button>
            </td>
            <td class="contentB">Already registered? <a href="/" th:href="@{/login}">Login here</a></td>
        </tr>
    </table>
</form>
</body>
</html>