<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="static/css/texts.css" rel="stylesheet" th:href="@{~/css/texts.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Texts</title>
</head>
<body>
<p><a th:href="@{/}">Back to index.</a></p>
<br>
<h3 th:text="'Conversation between ' + ${conv.getFromUser().nickname} + ' and ' + ${conv.getToUser().nickname}">
    Conversation</h3>
<br>
<div class="row" th:if="${texts.isEmpty()}"> No Messages</div>
<div th:each="text : ${texts}">
    <H3> <div class="baseText" th:classappend="${text.fromUser.email.equals(principal.getName())} ? fromUser : toUser" th:text="${#dates.format(text.sentDate, 'dd-MMM HH:mm')}">Date</div></H3>
    <div class="baseText" th:classappend="${text.fromUser.email.equals(principal.getName())} ? fromUser : toUser" th:text="${text.getFromUser().nickname}">Sender</div>
    <div class="baseText" th:classappend="${text.fromUser.email.equals(principal.getName())} ? fromUser : toUser" data-th-utext="${#strings.replace(#strings.escapeXml(text.content),'&#10;','&lt;br&gt;')}">Content</div>
</div>




<!--<table>-->
<!--th:classappend="${text.fromUser.email.equals(principal.getName())} ? fromUser : toUser"-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Date</th>-->
<!--        <th>Sender</th>-->
<!--        <th>Message</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${texts.isEmpty()}">-->
<!--        <td colspan="2">No Messages</td>-->
<!--    </tr>-->
<!--    <tr th:each="text : ${texts}">-->
<!--        <td><span th:text="${#dates.format(text.sentDate, 'dd-MMM HH:mm')}"> Date </span></td>-->
<!--        <td><span th:text="${text.getFromUser().nickname}"> Sender </span></td>-->
<!--        <td><span data-th-utext="${#strings.replace(#strings.escapeXml(text.content),'&#10;','&lt;br&gt;')}"> Content </span>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<br>
<p style="color: green" th:if="${param.trimis}">Message Sent!</p>
<br>
<form method="post" th:action="@{/messages/{id}(id=${conv.id})}">
    <textarea cols="50" name="content" rows="5"></textarea>
    <br>
    <input type="submit" value="Send"/>
</form>
</body>
</html>
