<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Edit</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" th:action="@{/edit/{id}(id=${book.id})}" th:object="${book}">
    <table>
        <tr>
            <td>Book Name:</td>
            <td><input th:field="*{bookName}" type="text"></td>
        </tr>
        <tr>
            <td>Author Name:</td>
            <td><input th:field="*{authorName}" type="text"></td>
        </tr>
        <tr>
            <td>Number of Pages:</td>
            <td><input th:field="*{numberOfPages}" type="text"></td>
        </tr>
        <tr>
            <td>Book Type:</td>
            <td><input th:field="*{type}" type="text"></td>
        </tr>
        <tr>
            <td>Book Language:</td>
            <td><input th:field="*{language}" type="text"></td>
        </tr>
        <tr>
            <td>Book Description:</td>
            <td><textarea th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td>Sell Price:</td>
            <td><input th:field="*{sellPrice}" type="text"></td>
        </tr>
        <tr>
            <td>Rent Price:</td>
            <td><input th:field="*{rentPrice}" type="text"></td>
        </tr>
        <tr>
            <td>Condition:</td>
            <td><select th:field="*{condition}">
                <option
                        th:each="condition: ${conditions}"
                        th:text=${condition.getCondition()}
                        th:value="${condition}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td>Is book for rent?</td>
            <td><input th:field="*{bookRent}" type="checkbox">
        </tr>
        <tr>
            <td>Is book for sale?</td>
            <td><input th:field="*{bookSale}" type="checkbox">
        </tr>
        <tr>
            <td>Book Cover Photo:</td>
            <td><input type="file" th:field="*{photo}"></td>
        </tr>
        <tr>
            <td><button type="submit">Update Book</button></td>
        </tr>
    </table>
</form>
<p><img style="max-width: 200px; max-height: 100px" th:src="'data:image/*;base64,' + ${book.getPhotoAsString()}"></p>
</body>
</html>