<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta>
    <meta charset="UTF-8"></meta>
    <title>Profile</title>
</head>
<body>
<h1 th:text="${user.nickName} + '\'s profile.'"></h1>
<div th:text="'First Name: ' + ${user.firstName}"></div>
<div th:text="'Last Name: ' + ${user.lastName}"></div>
<div th:text="'E-mail: ' + ${user.email}"></div>
<div th:text="'Location: ' + ${user.location}"></div>

<br>
<br>

<div><img style="max-width: 100px; max-height: 50px" th:src="'data:image/*;base64,' + ${user.getImageAsString()}"></div>


<a th:href="@{/}">Back to index.</a>
</body>
</html>